@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Lato:wght@400;700&family=Maven+Pro:wght@800;900&family=Noto+Sans+KR&display=swap');/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 100%;
}

h1 {
    margin: 2rem auto;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Maven Pro', sans-serif;
    margin-bottom: 2rem;
    color: white;
}

/* Nav Bar*/
.top-nav {
    font-family: 'Noto Sans KR',sans-serif;;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    height: 110px;
    background-color: rgba(0, 0, 0, 0.24);
}

.logo{
    margin-left: 3rem ;
    margin-top:1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}
.links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    align-items: center;
    font-size: .9rem;
    font-weight: bold;
}

.links>li {
    margin-right: 2rem;
    cursor: pointer;
}

.links>li:last-child {
    margin-right: 3rem;
    background-color:rgb(90, 90, 240) ;
}

/* Hero */
.hero {
    background: linear-gradient(rgba(116, 113, 113, 0.301), rgba(0, 0, 0, 0.459)), url(../images/slide1.jpg) no-repeat;
    background-color: rgb(180, 180, 180);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    position: relative;
    width: 100%;
    height:100vh;
    
}

.hero-content {
    padding: 8vh 0 10vh 0;
    align-items: center;
    /* display: flex;
    justify-content: center; */
}

.hero-heading {
    text-transform:uppercase;
    font-family: 'Maven Pro',sans-serif;;
    font-size: 50px;
    margin:5rem 10rem;
    margin-bottom: 40px;
    text-align: center;
    align-items: center;
}

/* foundations section */
.foundations-container{
    background: #f5f5f5;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Maven Pro', sans-serif;
}

.foundations-container h1{
    margin: 2rem auto;
    font-size: 2rem;
}

.foundations-container .foundations {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.foundations-container .foundations h2{
    margin:2rem auto;
    text-align: center;
    height:10vh;
}

.foundations-container .foundation{
    background: rgb(255, 255, 255);
    width:14rem;
    height:80vh;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.foundation:hover{
    background-color: aliceblue;
    transition: .2s;
}
.foundations-container .foundation img{
    width: 7rem;
    height:5.7rem;
}

.foundations-container .foundation p{
    text-align: center;
    color: rgb(61, 61, 61);
    font-weight: 300;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* vision section */
.vision-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(97, 97, 97, 0.397) , rgba(12, 34, 54, 0.322)),url(../images/parallax-4.jpg) no-repeat;  
    background-size: cover;
    position : relative;
    height: 100vh;
    padding-top: 2rem;  
}

.vision-container h1{
    margin: 2rem auto;
    font-size: 2rem;
    font-family: 'Maven Pro', sans-serif;
    margin-bottom: 2rem;
    color:white;
}

/* join bdd section */
.join-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.join-container h1 {
    margin: 2rem auto;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Maven Pro', sans-serif;
    margin-bottom: 2rem;
    color: black;
}

.join-container .inner-join-container{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.join-container img{
    height: auto;
    width: 70vh;
}

.join-container .inner-join-container .join-ways{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.join-container .inner-join-container .join-ways .join-way {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: rgb(206, 206, 206);
    width: 10rem;
    height:80vh;
    margin-left: 1rem;
    padding: 1rem 1rem;
}

.join-container .inner-join-container .join-ways .join-way h2 {
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
    font-size: 1.4rem;
    height: 20vh;
    margin-top: 0rem;
}

.join-container .inner-join-container .join-ways .join-way p {
    font-family:monospace;
    text-align: center;
    font-size: 1.4rem;
    height: 20vh;
    margin-top: 0rem;

}



/* feautures container */
.feature-container{
    background:url(../images/parallax-light.jpg) no-repeat;
    height: 50vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 2rem;
}

.feature-container .features{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.feature-container .features .feature {
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
    justify-content: space-between;
    height: 10vh;
}


.feature-container .features .feature h2{
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 1rem;
}
.feature-container .features .feature p {
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
    font-size: 1rem;
}

.academy-container{
    background: url(../images/parallax-7.jpg) no-repeat;
    height: 50vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 2rem;
}

.academy-container .first-r-features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}
.academy-container .first-r-features .acd-feature1{
    width:20rem;
    height:10vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.academy-container .first-r-features .acd-feature1 p{
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    margin-top: 1rem;
}

.academy-container .first-r-features .acd-features{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.academy-container .first-r-features .acd-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 15rem;
    height: 10vh;
    margin-left:1rem;
    
}
.academy-container .first-r-features .acd-feature h2{
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
    font-size: 1.3rem;
    color: white;
    margin-top: 1rem;
}

.academy-container button{
    margin-bottom: 2rem;
    background: rgb(61, 104, 221);
    padding: .5rem .7rem;
    font-family: 'Maven Pro', sans-serif;
    color: white;
    border: none;
    border-radius:1rem;
    cursor: pointer;

}
.academy-container button:hover {
    background-color: rgba(0, 0, 255, 0.863);
    transition: .2s;

}